[project]
	description = Artificial Intelligence Project
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Maulik Soneji (Mastermaulik)
[access "refs/for/refs/*"]
	read = group user/Maulik Soneji (Mastermaulik)
	push = group user/Maulik Soneji (Mastermaulik)
	label-Code-Review = -2..+2 group user/Maulik Soneji (Mastermaulik)
	label-Verified = -1..+1 group user/Maulik Soneji (Mastermaulik)
	rebase = group user/Maulik Soneji (Mastermaulik)
	removeReviewer = group user/Maulik Soneji (Mastermaulik)
	submit = group user/Maulik Soneji (Mastermaulik)
[access "refs/heads/*"]
	read = group user/Maulik Soneji (Mastermaulik)
	create = group user/Maulik Soneji (Mastermaulik)
	push = +force group user/Maulik Soneji (Mastermaulik)
	pushMerge = group user/Maulik Soneji (Mastermaulik)
[access "refs/tags/*"]
	push = +force group user/Maulik Soneji (Mastermaulik)
	pushTag = group user/Maulik Soneji (Mastermaulik)
	pushSignedTag = group user/Maulik Soneji (Mastermaulik)
